.phone {
  display: grid;
  grid-template-columns: 1fr 44px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 10px;
  padding: 5px;
  position: relative;
}

.left {
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 6px;
}

.errorText {
  color: #ff0000;
}

.input {
  background-color: transparent !important;
  border: none !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.button {
  background-color: transparent !important;
  border: none !important;
}

.button > :global(.selected-flag) {
  background-color: transparent !important;
  border: none !important;
}

.button > :global(.selected-flag) {
  background-color: transparent !important;
}

.button > :global(.selected-flag) :global(.arrow) {
  border-top-color: rgba(255, 255, 255, 0.8) !important;
}

.dropdown {
  background-color: rgba(173, 129, 247, 0.2) !important;
  backdrop-filter: blur(8.5px);
  border-radius: 0 0 10px 10px !important;
}

.dropdown > :global(.highlight) {
  background-color: rgba(173, 129, 247, 0.2);
}

.dropdown > :global(.country:hover) {
  background-color: rgba(173, 129, 247, 0.2) !important;
}

.dropdown > :global(.country) > :global(.country-name) {
  color: #ffffff;
}

.dropdown > :global(.country) > :global(.dial-code) {
  color: rgba(255, 255, 255, 0.6) !important;
}

.disabled {
  opacity: 0.6;
}

.search {
}

.spin {
  animation: spin 1.2s ease-in-out 0.2s infinite;
  height: 32px;
  width: 32px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
