.webinars {
  padding: 20px;
}

.title {
  font-family: 'SF UI Display Semibold';
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
}

.list {
  margin-top: 20px;
}

.block2 {
  margin-top: 10px;
}

.phoneLabel {
  font-family: 'SF UI Display Light';
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}
